@utility border-dotted-* {
  --tw-border-style: dotted;
  @apply border;
  /* border-style: dotted; */
  border-color: --value(--color-*);
}
@utility border-dashed-* {
  --tw-border-style: dashed;
  /* border: 1px dashed --value(--color- *); */
  @apply border;
  /* border-style: dashed; */
  border-color: --value(--color-*);
}
@utility pill {
  border-radius: calc(infinity* 1px);
}
