@utility progress {
  --progress-color: var(--color-primary-100);
  --progress-bg: var(--color-gray-200);
  --progress-bar-bg: var(--color-primary-600);
  @variant dark {
    --progress-bg: var(--color-gray-700);
    --progress-bar-bg: var(--color-primary-600);
  }
  @apply relative h-2.5 rounded-full text-2xs shadow-xs;
  color: var(--progress-color);
  background-color: var(--progress-bg);
}

@utility progress-bar {
  @apply flex items-center justify-center font-medium  h-full rounded-full leading-none text-center;
  background-color: var(--progress-bar-bg);
}

@utility progress-* {
  --progress-color: --value(--color-* -100);
  --progress-bar-bg: --value(--color-* -600);
  @variant dark {
    --progress-bar-bg: --value(--color- * -600);
  }
}

@utility progress-light {
  --progress-color: --value(--color-gray -700);
}

@utility progress-xs {
  @apply h-1 text-[0.2rem];
}

@utility progress-sm {
  @apply h-1.5 text-2xs;
}

@utility progress-lg {
  @apply h-4 text-sm;
}

@utility progress-xl {
  @apply h-6 text-base;
}

@utility progress-2xl {
  @apply h-8 text-lg;
}
