[data-tooltip] {
  --tooltip-bg: var(--color-gray-900);
  --tooltip-color: var(--color-white);
  --tooltip-arrow-color: var(--tooltip-bg);

  @apply relative;

  &::before {
    content: "";

    @apply absolute z-50;
    @apply size-0;
    @apply border-4 border-solid;
    @apply opacity-0 invisible pointer-events-none;
    @apply transition-opacity duration-150;

    /* border-color: transparent transparent var(--tooltip-bg) transparent; */
    @apply top-full bottom-auto;
    @apply start-1/2;
    @apply -translate-x-1/2;
    @apply mt-0;

    border-color: transparent transparent var(--tooltip-arrow-color) transparent;
  }

  &::after {
    content: attr(data-tooltip);

    @apply absolute z-50;
    @apply rounded-md;
    @apply px-2 py-1;
    @apply text-xs leading-4 whitespace-nowrap;
    @apply select-none;
    @apply opacity-0 invisible pointer-events-none;
    @apply transition-opacity duration-150;
    @apply top-full bottom-auto;
    @apply start-1/2;
    @apply -translate-x-1/2;
    @apply mt-2;
    @apply mb-0;
    color: var(--tooltip-color);
    background-color: var(--tooltip-bg);
  }

  &:hover::before,
  &:hover::after,
  &:focus-visible::before,
  &:focus-visible::after {
    @apply opacity-100 visible;
  }
}

/* Top */
[data-tooltip-position="top"] {
  &::before {
    @apply bottom-full top-auto;
    @apply start-1/2;
    @apply -translate-x-1/2;
    @apply mb-0;

    border-color: var(--tooltip-arrow-color) transparent transparent transparent;
  }

  &::after {
    @apply bottom-full top-auto;
    @apply start-1/2;
    @apply -translate-x-1/2;
    @apply mb-2;
    @apply mt-0;
  }
}

/* Bottom */
[data-tooltip-position="bottom"] {
  &::before {
    @apply top-full bottom-auto;
    @apply start-1/2;
    @apply -translate-x-1/2;
    @apply mt-0;

    border-color: transparent transparent var(--tooltip-arrow-color) transparent;
  }

  &::after {
    @apply top-full bottom-auto;
    @apply start-1/2;
    @apply -translate-x-1/2;
    @apply mt-2;
    @apply mb-0;
  }
}

/* Start */
[data-tooltip-position="start"] {
  &::before {
    @apply top-1/2;
    @apply start-0;
    @apply -translate-x-full;
    @apply -translate-y-1/2;

    border-color: transparent transparent transparent var(--tooltip-arrow-color);
  }

  &::after {
    @apply top-1/2;
    @apply start-0;
    @apply -translate-x-full;
    @apply -translate-y-1/2;
    @apply m-0 -ms-2;
  }
}

/* End */
[data-tooltip-position="end"] {
  &::before {
    @apply top-1/2;
    @apply start-full;
    @apply -translate-y-1/2;
    @apply translate-x-0;

    border-color: transparent var(--tooltip-arrow-color) transparent transparent;
  }

  &::after {
    @apply top-1/2;
    @apply start-full;
    @apply -translate-y-1/2;
    @apply translate-x-0;
    @apply m-0 ms-2;
  }
}

@utility tooltip-* {
  &:[data-tooltip] {
    --tooltip-color: --value(--color-bg-*);
    --tooltip-bg: --value(--color-*);
  }
}
